{% extends 'home/home_base.html' %}


{% block title %}
home
{% endblock title %}


{% block body %}
<div>
    <!-- <form method="post" action="{% url 'home:create_post'%}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="media">Add media</label>
        <input type="file" name="media" name="media" class="w-full h-full" id="media">

        <label for="postContent">Add content</label>
        <textarea name="postContent" class="border border-gray-200 rounded-md w-full outline-none p-1" id="postContent"
            cols="30" rows="5"></textarea>
        <button class="text-xl text-white bg-blue-500 px-4 py-2 rounded-md mt-2" type="submit">
            Create Post
        </button>
    </form> -->

    <form action="{% url 'home:home' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    
    {% if img_obj %}
        <h3>Successfully uploaded: {{img_obj.caption}}</h3>
        <img src="{{img_obj.image_url}}" alt="image">
    {% endif %}
        
</div>
{% endblock body %}