{% extends 'home/home_base.html' %}


{% block title %}
home
{% endblock title %}


{% block body %}
<div class="flex justify-center align-middle space-x-3">

    <!-- profile  -->
    <div class="w-full sm:max-w-sm border border-gray-100 h-fit rounded-md p-3 shadow-md">
        <div class="flex justify-end">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil stroke-gray-500 hover:stroke-gray-600 cursor-pointer"><path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"/><path d="m15 5 4 4"/></svg>
            </span>
        </div>
        <div class="flex flex-col justify-center align-middle items-center">
            <div class="w-40 h-40 rounded-full bg-gray-400"></div>
            <span class="text-xl font-semibold text-gray-700 mt-1">Rich Klien</span>
            <span class="text-sm text-gray-500 mb-4">richklien1102@gmail.com</span>
        </div>
        <hr>
        <div class="mt-2">
            <span class="text-gray-600 font-semibold">Intro</span>
            <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing</p>
        </div>
        <div class="mt-2">
            <span class="text-gray-600 font-semibold">Bio</span>
            <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non ipsum quis tenetur expedita ratione accusantium nulla laudantium, voluptatum delectus? Ipsa praesentium quidem soluta esse tempore laborum voluptatum quae aspernatur exercitationem!</p>
        </div>
    </div>

    <!-- post container  -->
    <div id="container" class="w-full sm:max-w-sm md:max-w-md xl:max-w-lg text-sm">

        <form class="w-full text-gray-500 rounded-md border border-gray-100 p-2 shadow-md"
            action="{% url 'home:home' %}" method="post" enctype="multipart/form-data">
            <h3 class="text-xl py-2 text-center">Create your post</h3>
            {% csrf_token %}
            <label for="{{ form.title.id_for_label }}">Title</label>
            {{ form.title }}

            <label for="{{ form.content.id_for_label}}">Content</label>
            {{ form.content }}

            <hr>

            <div class="flex items-center justify-center w-full py-2">
                <label for="{{ form.image.id_for_label }}"
                    class="flex flex-col items-center justify-center w-full h-28 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                        </svg>
                        <p class="mb-2 text-sm text-gray-500 "><span class="font-semibold">Click to upload</span> or
                            drag
                            and drop</p>
                        <p class="text-xs text-gray-500 ">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                    </div>
                    {{ form.image }}

                </label>
            </div>

            {{ form.caption }}

            <button class="text-xl px-4 py-1 rounded-md bg-blue-500 text-white mt-4 hover:bg-blue-600"
                type="submit">Upload</button>

        </form>
        <hr class="m-4">
        <div id="post_container" class="divide-y divide-gray-200">
        </div>
        <div id="loader" class="hidden">
            <div class="flex justify-center align-middle items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-loader-2 animate-spin stroke-gray-500"><path d="M21 12a9 9 0 1 1-6.219-8.56"/></svg>
                <span class="ml-2 text-gray-500">loading posts...</span>
            </div>
        </div>
    </div>

    <!-- top posts  -->
    <div class="w-full sm:max-w-sm border border-gray-100 h-fit rounded-md p-3 shadow-md">
        <h3 class="text-xl font-semibold text-gray-800 mb-6">Top Posts</h3>

        <div class="divide-y">
            <div>
                <span class="text-gray-400">
                    likes 200k | saved 10k
                </span>
                <h2 class="mb-2 text-xl font-bold tracking-tight text-gray-900">
                    <a href="/blog/how-to-use-flowbite-ui-components-with-laravel-and-alpine-js/">How to use Flowbite
                        UI components with Laravel and Alpine.js to build an admin dashboard</a>
                </h2>
            </div>
            <div>
                <span class="text-gray-400">
                    likes 200k | saved 10k
                </span>
                <h2 class="mb-2 text-xl font-bold tracking-tight text-gray-900">
                    <a href="/blog/how-to-use-flowbite-ui-components-with-laravel-and-alpine-js/">How to use Flowbite
                        UI components with Laravel and Alpine.js to build an admin dashboard</a>
                </h2>
            </div>
            <div>
                <span class="text-gray-400">
                    likes 200k | saved 10k
                </span>
                <h2 class="mb-2 text-xl font-bold tracking-tight text-gray-900">
                    <a href="/blog/how-to-use-flowbite-ui-components-with-laravel-and-alpine-js/">How to use Flowbite
                        UI components with Laravel and Alpine.js to build an admin dashboard</a>
                </h2>
            </div>
        </div>
    </div>

</div>
{% endblock body %}


{% block javascript %}
<script>
    const captionInputId = "#{{ form.caption.id_for_label }}"
    const imageInputId = "#{{ form.image.id_for_label }}"
    let pageNumber = 1
    let postsRequestInProgress = false

    function getPostsPagePromise(page){
        return new Promise((resolve, reject)=>{
            $("#loader").toggleClass("hidden")
            $.ajax({
                type: "GET",
                url: `/ajax/posts/${page}`,
                contentType: "application/json",
                dataType: "json",
                success: function (posts) {
                    $("#loader").toggleClass("hidden")
                    resolve(posts)
                },
                error: function (err) {
                    $("#loader").toggleClass("hidden")
                    reject(err)
                }
            })
        })
    }

    function appendPosts(posts){
        let postDisplayTemplate = ``

        posts.forEach(post=>{
            let d = new Date(post.created_at)
            postDisplayTemplate += `
            <article class="py-6">
                <div class="flex items-center justify-between mb-3 text-gray-500">
                    <div>
                        <a class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-1 rounded"
                            href="/blog/tag/laravel/">#Laravel</a>
                        <a class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-1 rounded"
                            href="/blog/tag/laravel/">#PHP</a>
                    </div>
                    <span class="text-sm">Published on ${d.getUTCDate()}-${d.getUTCMonth()}-${d.getUTCFullYear()}</span>
                </div>
                <div>
                    <span class="text-gray-400">
                        likes ${post.total_likes} | saved 10k
                    </span>
                </div>
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                    <a href="/blog/how-to-use-flowbite-ui-components-with-laravel-and-alpine-js/">${post.title}</a>
                </h2>
                
                ${post.image_url ? `<img class="w-full h-auto rounded-md" src="${post.image_url}" alt="${post.caption}"/>` : ``}
                
                <p class="mb-5 text-gray-500">${post.content}
                </p>

                <div class="flex items-center justify-between">
                    <a class="flex items-center space-x-2" href="/blog/author/rich/">
                        <img class="rounded-full w-7 h-7"
                            src="https://publisher.flowbite.com/content/images/2023/01/1605304654466.jpg"
                            alt="Rich Klein profile picture"><span class="font-medium text-gray-500">Rich Klein</span>
                    </a>
                    <span class="flex justify-center align-middle items-center space-x-3">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-heart stroke-blue-500 cursor-pointer hover:stroke-blue-600">
                                <path
                                    d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z" />
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-thumbs-up stroke-blue-500 cursor-pointer hover:stroke-blue-600">
                                <path d="M7 10v12" />
                                <path
                                    d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z" />
                            </svg>
                        </span>
                        <span>
                            <a class="inline-flex items-center font-medium text-blue-600 hover:underline dark:text-blue-500"
                                href="/blog/how-to-use-flowbite-ui-components-with-laravel-and-alpine-js/">
                                Read more
                                <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </span>
                    </span>
                </div>
            </article>
            `
        })

        $("#post_container").append(postDisplayTemplate)
    }

    $(document).ready(function () {
        let postPageNumber = 1
        let hasPosts = true

        $(captionInputId).attr('disabled', true)

        $(imageInputId).on('input', function () {
            $(captionInputId).removeAttr('disabled')
        })
        
        new Promise((resolve, reject)=> {
            postsRequestInProgress = true
            resolve(getPostsPagePromise(postPageNumber))
        })
            .then(posts=>{
                console.log(posts)

                appendPosts(posts)

                if(posts.length) {
                    postPageNumber++
                }else{
                    hasPosts = false
                }

                postsRequestInProgress = false
            })

        $(document).scroll(function(e){
            let bodyElement = document.querySelector("body")

            if(window.scrollY + window.innerHeight >= bodyElement.scrollHeight && hasPosts && !postsRequestInProgress){
                
                new Promise((resolve, reject)=> {
                    postsRequestInProgress = true
                    resolve(getPostsPagePromise(postPageNumber))
                })
                    .then(posts=>{
                        console.log(posts)
        
                        appendPosts(posts)
        
                        if(posts.length) {
                            postPageNumber++
                        }else{
                            hasPosts = false
                        }
        
                        postsRequestInProgress = false
                    })
            }
            
        })
    })

</script>
{% endblock javascript %}