{% extends 'home/home_base.html' %}


{% block title %}
profile
{% endblock title %}


{% block body %}

<h2 class="text-3xl font-semibold text-gray-600 mb-4">Profile</h2>

<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-6 xl:grid-cols-4">
    <div class="space-y-4 grid">
        <!-- profile left section -->
        <div class="w-full border border-gray-100 h-fit rounded-md p-3 shadow-md">
            <div class="flex justify-end">
                <span>
                    <button data-modal-target="crud-modal-personal_information"
                        data-modal-toggle="crud-modal-personal_information">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-pencil stroke-gray-500 hover:stroke-gray-600 cursor-pointer">
                            <path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z" />
                            <path d="m15 5 4 4" />
                        </svg>
                    </button>
                </span>
            </div>
            <div class="flex flex-col justify-center align-middle items-center">
                <div class="w-40 h-40 rounded-full bg-gray-400"></div>
                <a href="{% url 'home:profile' %}">
                    <span class="text-xl font-semibold text-gray-700 mt-1">Rich Klien</span>
                </a>
                <span class="text-sm text-gray-500 mb-4">richklien1102@gmail.com</span>
            </div>
            <hr>
            <div class="mt-4 space-y-2">
                <div class="flex justify-start align-middle space-x-2 items-center text-gray-500">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-briefcase stroke-gray-500">
                            <rect width="20" height="14" x="2" y="7" rx="2" ry="2" />
                            <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16" />
                        </svg>
                    </span>

                    <span>
                        Front-end developer
                    </span>
                </div>
                <div class="flex justify-start align-middle space-x-2 items-center text-gray-500">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-map-pin stroke-gray-500">
                            <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z" />
                            <circle cx="12" cy="10" r="3" />
                        </svg>
                    </span>

                    <span>
                        San francisco, USA
                    </span>
                </div>
            </div>
            <div class="mt-2">
                <span class="text-gray-600 font-semibold">Status</span>
                <p class="text-gray-500"> Working on new projects !!</p>
            </div>
            <div class="mt-2">
                <span class="text-gray-600 font-semibold">Home address</span>
                <p class="text-gray-500">92 Miles Drive, Newark, NJ 07103, California,
                    United States of America
                </p>
            </div>
            <div class="mt-2">
                <span class="text-gray-600 font-semibold">Phone number</span>
                <p class="text-gray-500">+00 123 456 789 / +12 345 678</p>
            </div>
        </div>

        <!-- hobbies and skills section -->
        <div class="w-full border border-gray-100 h-fit rounded-md p-3 shadow-md">
            <div class="flex justify-between items-center align-baseline p-2">
                <h3 class="text-xl font-semibold text-gray-700 mt-1">Hobbies</h3>
                <span>
                    <button data-modal-target="crud-modal-hobbies_and_skills"
                        data-modal-toggle="crud-modal-hobbies_and_skills">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-pencil stroke-gray-500 hover:stroke-gray-600 cursor-pointer">
                            <path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z" />
                            <path d="m15 5 4 4" />
                        </svg>
                    </button>
                </span>
            </div>
            <div class="mt-4 flex flex-wrap gap-2">
                <span class="bg-blue-100 text-blue-800 text-sm font-medium px-2.5 py-1 rounded">Footbal</span>
                <span class="bg-blue-100 text-blue-800 text-sm font-medium px-2.5 py-1 rounded">Dogs</span>
                <span class="bg-blue-100 text-blue-800 text-sm font-medium px-2.5 py-1 rounded">Gaming</span>
                <span class="bg-blue-100 text-blue-800 text-sm font-medium px-2.5 py-1 rounded">Movies</span>
            </div>
            <div class="flex justify-between items-center align-baseline p-2 mt-2">
                <h3 class="text-xl font-semibold text-gray-700 mt-1">Skills</h3>
            </div>
            <div class="mt-4 flex flex-wrap gap-2">
                <span class="bg-blue-100 text-blue-800 text-sm font-medium px-2.5 py-1 rounded">Footbal</span>
                <span class="bg-blue-100 text-blue-800 text-sm font-medium px-2.5 py-1 rounded">Dogs</span>
                <span class="bg-blue-100 text-blue-800 text-sm font-medium px-2.5 py-1 rounded">Gaming</span>
                <span class="bg-blue-100 text-blue-800 text-sm font-medium px-2.5 py-1 rounded">Movies</span>
            </div>
        </div>
    </div>
    <!-- profile right section -->
    <div class="w-full lg:col-span-2 xl:col-span-3 border border-gray-100 h-fit rounded-md p-3 shadow-md">
        <div class="flex justify-between items-center align-baseline">
            <h3 class="text-xl font-semibold text-gray-700 mt-1">General Information</h3>
            <span>
                <button id="generalInformationEditBtn" data-modal-target="crud-modal-general_information"
                    data-modal-toggle="crud-modal-general_information">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-pencil stroke-gray-500 hover:stroke-gray-600 cursor-pointer">
                        <path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z" />
                        <path d="m15 5 4 4" />
                    </svg>
                </button>
            </span>
        </div>
        <div class="mt-6">
            <h3 class="text-gray-600 font-semibold">About me</h3>
            <p id="gen_info_display__about_me" class="text-gray-500"></p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8 lg:mt-20">
            <div>
                <span class="text-gray-600 font-semibold">Education</span>
                <p id="gen_info_display__education" class="text-gray-500"></p>
            </div>
            <div>
                <span class="text-gray-600 font-semibold">Join Date</span>
                <p id="gen_info_display__created_at" class="text-gray-500"></p>
            </div>
            <div>
                <span class="text-gray-600 font-semibold">Organization</span>
                <p id="gen_info_display__organization" class="text-gray-500"></p>
            </div>
            <div>
                <span class="text-gray-600 font-semibold">Nationality</span>
                <p id="gen_info_display__nationality" class="text-gray-500"></p>
            </div>
            <div>
                <span class="text-gray-600 font-semibold">Birthday</span>
                <p id="gen_info_display__date_of_birth" class="text-gray-500"></p>
            </div>
        </div>
    </div>
</div>



<!-- Modal toggle -->

<!-- Personal Information form -->
<div id="crud-modal-personal_information" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                <h3 class="text-lg font-semibold text-gray-900">Add Personal Information</h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    data-modal-toggle="crud-modal-personal_information">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="flex items-center justify-center col-span-2 py-2">
                        <label for="{{ personal_information_form.profile_pic.id_for_label }}"
                            class="flex flex-col items-center justify-center w-full h-28 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50">
                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                <svg class="w-8 h-8 mb-4 text-gray-500 " aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                </svg>
                                <p class="mb-2 text-sm text-gray-500 "><span class="font-semibold">Click to upload
                                        profile pic</span> or drag and drop</p>
                                <p class="text-xs text-gray-500 ">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                            </div>
                            {{ personal_information_form.profile_pic }}
                        </label>
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="{{ personal_information_form.first_name.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">First name</label>
                        {{ personal_information_form.first_name }}
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="{{ personal_information_form.last_name.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Last Name</label>
                        {{ personal_information_form.last_name }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ personal_information_form.status.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Status</label>
                        {{ personal_information_form.status }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ personal_information_form.occupation.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Occupation</label>
                        {{ personal_information_form.occupation }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ personal_information_form.location.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Location</label>
                        {{ personal_information_form.location }}
                    </div>

                    <div class="col-span-2">
                        <label for="{{ personal_information_form.home_address.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Home address</label>
                        {{ personal_information_form.home_address }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ personal_information_form.phone_number.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Phone number</label>
                        {{ personal_information_form.phone_number }}
                    </div>
                </div>
                <button type="submit"
                    class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    Update details
                </button>
            </form>
        </div>
    </div>
</div>

<!-- General Information form  -->
<div id="crud-modal-general_information" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                <h3 class="text-lg font-semibold text-gray-900">Add General Information</h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    data-modal-toggle="crud-modal-general_information">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form id="generalInformationForm" class="p-4 md:p-5">

                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="{{general_information_form.about_me.id_for_label}}"
                            class="block mb-2 text-sm font-medium text-gray-900">About me</label>
                        {{ general_information_form.about_me }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ general_information_form.education.id_for_label}}"
                            class="block mb-2 text-sm font-medium text-gray-900">Education</label>
                        {{ general_information_form.education }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ general_information_form.organization.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Organization</label>
                        {{ general_information_form.organization }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ general_information_form.gender.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Select gender</label>
                        {{ general_information_form.gender }}
                    </div>

                    <div class="col-span-2">
                        <label for="{{ general_information_form.nationality.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Nationality</label>
                        {{ general_information_form.nationality }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ general_information_form.date_of_birth.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Birthday</label>
                        {{ general_information_form.date_of_birth }}
                    </div>
                </div>
                <button type="submit"
                    class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    Update details
                </button>
            </form>
        </div>
    </div>
</div>

<!-- Hobbies and skills form  -->
<div id="crud-modal-hobbies_and_skills" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                <h3 class="text-lg font-semibold text-gray-900">Add Hobbies and Skills</h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    data-modal-toggle="crud-modal-hobbies_and_skills">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form class="p-4 md:p-5">
                <p class="text-sm text-gray-500 pb-2">Use commas to seprate each skill or hobbie which you are putting.
                </p>
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="hobbies" class="block mb-2 text-sm font-medium text-gray-900">Hobbies</label>
                        <textarea id="hobbies" rows="4"
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                            placeholder="Reading, Writing, Running, Gyming"></textarea>
                    </div>

                    <div class="col-span-2">
                        <label for="skills" class="block mb-2 text-sm font-medium text-gray-900">Skills</label>
                        <textarea id="skills" rows="4"
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                            placeholder="Javascript, Python, C++"></textarea>
                    </div>

                </div>
                <button type="submit"
                    class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    Update details
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock body %}


{% block javascript %}

<script>
    const generalInformationForm = document.getElementById("generalInformationForm")
    let urlToAddGeneralInformation = "{% url 'ajax:general_information' %}"
    let urlToGetGeneralInformation = "{% url 'ajax:get_general_information' %}"

    function getRequest(url, cb) {
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            success: function (res) {
                cb(res)
            },
            error: function (err) {
                console.log(err)
            }
        })
    }

    function postRequest(url, data, cb) {
        $.ajax({
            url: url,
            type: "POST",
            contentType: false,
            processData: false,
            headers: { 'X-CSRFToken': "{{ csrf_token }}" },
            dataType: "json",
            data: data,
            success: function (res) {
                cb(res)
            },
            error: function (err) {
                console.log(err)
            }
        })
    }

    function updateForm(formId, url) {

        let populateData = (data) => {
            let keys = Object.keys(data)

            keys.forEach(key => {
                let inputElem = $(`#${formId} input[name=${key}]`)

                if (inputElem) {
                    inputElem.val(data[key])
                }

                let textAreaElem = $(`#${formId} textarea[name=${key}]`)

                if (textAreaElem) {
                    textAreaElem.val(data[key])
                }

                let selectElem = $(`#${formId} select[name=${key}]`)

                if(selectElem){
                    selectElem.val(data[key])
                }
            })

        }

        getRequest(url, populateData)
    }

    function updateDisplay(url, displayIdInitials){
        let populateDataInDisplay = (data)=>{
            let keys = Object.keys(data)
            
            keys.forEach(key=>{
                $(`#${displayIdInitials}_display__${key}`).text(data[key])
            })
        }

        getRequest(url, populateDataInDisplay)
    }


    $(document).ready(function () {

        updateDisplay(urlToGetGeneralInformation, "gen_info")

        $("#generalInformationEditBtn").click(()=>updateForm("generalInformationForm", urlToGetGeneralInformation))

        generalInformationForm.addEventListener("submit", (e) => {
            e.preventDefault()
            let formData = new FormData(generalInformationForm)

            postRequest(urlToAddGeneralInformation, formData, (res) => {
                updateDisplay(urlToGetGeneralInformation, "gen_info")
            })
        })

    })

</script>

{% endblock javascript %}