{% extends 'home/home_base_with_nav.html' %}


{% block title %}
Profile
{% endblock title %}


{% block body %}

<h2 class="text-3xl font-semibold text-gray-600 mb-4">Profile</h2>

<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-6 xl:grid-cols-4">
    <div class="space-y-4 grid">
        <!-- profile left section -->
        <div class="w-full border border-gray-100 h-fit rounded-md p-3 shadow-md">

            {% if is_owner %}
            <div class="flex justify-end">
                <span>
                    <button id="personalInformationEditBtn" data-modal-target="crud-modal-personal_information"
                        data-modal-toggle="crud-modal-personal_information">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-pencil stroke-gray-500 hover:stroke-gray-600 cursor-pointer">
                            <path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z" />
                            <path d="m15 5 4 4" />
                        </svg>
                    </button>
                </span>
            </div>
            {% endif %}

            <div class="flex flex-col justify-center align-middle items-center">
                <div id="profile_pic">
                    <div role="status"
                        class="space-y-8 animate-pulse md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
                        <div class="flex items-center justify-center w-44 h-44 bg-gray-300 rounded-full">
                            <svg class="w-10 h-10 text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z" />
                            </svg>
                        </div>

                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <a href="{% url 'home:profile' user.id %}">
                    <span id="per_info_display__full_name" class="text-xl font-semibold text-gray-700 mt-1">
                        <div role="status" class="max-w-sm animate-pulse mt-2">
                            <div class="h-2.5 bg-gray-200 rounded-full  w-48 mb-4"></div>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </span>
                </a>
                <span id="per_info_display__email" class="text-sm text-gray-500 mb-4">
                    <div role="status" class="max-w-sm animate-pulse mt-2">
                        <div class="h-2.5 bg-gray-200 rounded-full  w-48 mb-4"></div>
                        <span class="sr-only">Loading...</span>
                    </div>
                </span>
            </div>
            <hr>
            <div id="personal_information__container">
                <div id="per_info_display__message"></div>
                <div id="per_info_display__occupation" class="mt-2">
                    <div class="text-gray-500">
                        <div role="status" class="max-w-sm animate-pulse mt-2">
                            <div class="h-2 bg-gray-200 rounded-full max-w-[360px] mb-2.5"></div>
                            <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div id="per_info_display__location" class="mt-2">
                    <div class="text-gray-500">
                        <div role="status" class="max-w-sm animate-pulse mt-2">
                            <div class="h-2 bg-gray-200 rounded-full max-w-[360px] mb-2.5"></div>
                            <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div id="per_info_display__status" class="mt-2">
                    <div class="text-gray-500">
                        <div role="status" class="max-w-sm animate-pulse mt-2">
                            <div class="h-2 bg-gray-200 rounded-full max-w-[360px] mb-2.5"></div>
                            <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div id="per_info_display__home_address" class="mt-2">
                    <div role="status" class="max-w-sm animate-pulse mt-2">
                        <div class="h-2.5 bg-gray-200 rounded-full  w-48 mb-4"></div>
                        <div class="h-2 bg-gray-200 rounded-full max-w-[360px] mb-2.5"></div>
                        <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="per_info_display__phone_number" class="mt-2">
                    <div class="text-gray-500">
                        <div role="status" class="max-w-sm animate-pulse mt-2">
                            <div class="h-2.5 bg-gray-200 rounded-full  w-48 mb-4"></div>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- profile right section -->
    <div class="w-full lg:col-span-2 xl:col-span-3">
        <div class="w-full border border-gray-100 h-fit rounded-md p-3 shadow-md">
            <div class="flex justify-between items-center align-baseline">
                <h3 class="text-xl font-semibold text-gray-700 mt-1">General Information</h3>

                {% if is_owner %}
                <span>
                    <button id="generalInformationEditBtn" data-modal-target="crud-modal-general_information"
                        data-modal-toggle="crud-modal-general_information">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-pencil stroke-gray-500 hover:stroke-gray-600 cursor-pointer">
                            <path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z" />
                            <path d="m15 5 4 4" />
                        </svg>
                    </button>
                </span>
                {% endif %}

            </div>
            <div id="gen_info_display__message"></div>
            <div id="gen_info_display__about_me" class="mt-6 text-gray-500">
                <div role="status" class="w-full animate-pulse">
                    <div class="h-2 bg-gray-200 rounded-full max-w-[60%] mb-2.5"></div>
                    <div class="h-2 bg-gray-200 rounded-full max-w-[70%] mb-2.5"></div>
                    <div class="h-2 bg-gray-200 rounded-full max-w-[70%] mb-2.5"></div>
                    <div class="h-2 bg-gray-200 rounded-full max-w-[70%] mb-2.5"></div>
                    <div class="h-2 bg-gray-200 rounded-full max-w-[60%]"></div>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div id="general_information__bottom" class="grid grid-cols-2 gap-4 mt-8 lg:mt-20">
                <div id="gen_info_display__education">
                    <div role="status" class="max-w-sm animate-pulse mt-2">
                        <div class="h-2.5 bg-gray-200 rounded-full  w-48 mb-4"></div>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="gen_info_display__created_at">
                    <div role="status" class="max-w-sm animate-pulse mt-2">
                        <div class="h-2.5 bg-gray-200 rounded-full  w-48 mb-4"></div>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="gen_info_display__organization">
                    <div role="status" class="max-w-sm animate-pulse mt-2">
                        <div class="h-2.5 bg-gray-200 rounded-full  w-48 mb-4"></div>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="gen_info_display__nationality">
                    <div role="status" class="max-w-sm animate-pulse mt-2">
                        <div class="h-2.5 bg-gray-200 rounded-full  w-48 mb-4"></div>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="gen_info_display__date_of_birth">
                    <div role="status" class="max-w-sm animate-pulse mt-2">
                        <div class="h-2.5 bg-gray-200 rounded-full  w-48 mb-4"></div>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="gen_info_display__gender">
                    <div role="status" class="max-w-sm animate-pulse mt-2">
                        <div class="h-2.5 bg-gray-200 rounded-full  w-48 mb-4"></div>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 xl:grid-cols-4 xl:gap-4 mt-8">
            <div class="w-full h-fit rounded-md p-3 xl:col-span-2">
                <h3 class="text-xl font-semibold text-gray-800 mb-6">Top Posts</h3>
                <div class="divide-y">
                    <div class="mb-4">
                        <div class="flex justify-between items-center">
                            <span class="text-gray-400">
                                likes 10k
                            </span>
                            <span class="text-gray-400">Published on 12-04-2024</span>
                        </div>
                        <h2 class="mb-2 text-xl font-bold tracking-tight text-gray-900">
                            <a href="/blog/how-to-use-flowbite-ui-components-with-laravel-and-alpine-js/">Post title
                                comes here</a>
                        </h2>
                        <p></p>
                        <span class="text-blue-500 underline hover:text-blue-600"><a href="#">Read post</a></span>
                    </div>
                    <div class="mb-4">
                        <div class="flex justify-between items-center">
                            <span class="text-gray-400">
                                likes 10k
                            </span>
                            <span class="text-gray-400">Published on 12-04-2024</span>
                        </div>
                        <h2 class="mb-2 text-xl font-bold tracking-tight text-gray-900">
                            <a href="/blog/how-to-use-flowbite-ui-components-with-laravel-and-alpine-js/">Post title
                                comes here</a>
                        </h2>
                        <p></p>
                        <span class="text-blue-500 underline hover:text-blue-600"><a href="#">Read post</a></span>
                    </div>
                    <div class="mb-4">
                        <div class="flex justify-between items-center">
                            <span class="text-gray-400">
                                likes 10k
                            </span>
                            <span class="text-gray-400">Published on 12-04-2024</span>
                        </div>
                        <h2 class="mb-2 text-xl font-bold tracking-tight text-gray-900">
                            <a href="/blog/how-to-use-flowbite-ui-components-with-laravel-and-alpine-js/">Post title
                                comes here</a>
                        </h2>
                        <p></p>
                        <span class="text-blue-500 underline hover:text-blue-600"><a href="#">Read post</a></span>
                    </div>
                </div>
            </div>
            <div class="w-full border border-gray-100 h-fit rounded-md p-3 shadow-md xl:col-span-2">
                <h3 class="text-xl font-semibold text-gray-800 mb-6">Network</h3>
                <div class="divide-y">
                    <div class="flex justify-start gap-4 flex-row pt-8 pb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-user-round-check h-12 w-auto stroke-gray-700">
                            <path d="M2 21a8 8 0 0 1 13.292-6" />
                            <circle cx="10" cy="8" r="5" />
                            <path d="m16 19 2 2 4-4" />
                        </svg>

                        <div class="flex justify-start gap-1 flex-col">
                            <span class="font-semibold text-gray-600">Total friends</span>
                            <span class="text-gray-500">100</span>
                        </div>
                    </div>
                    <div class="flex justify-start gap-4 flex-row pt-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-thumbs-up h-12 w-auto stroke-gray-700">
                            <path d="M7 10v12" />
                            <path
                                d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z" />
                        </svg>

                        <div class="flex justify-start gap-1 flex-col">
                            <span class="font-semibold text-gray-600">Total likes</span>
                            <span class="text-gray-500">100</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal toggle -->

{% if is_owner %}

<!-- Personal Information form -->
<div id="crud-modal-personal_information" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                <h3 class="text-lg font-semibold text-gray-900">Add Personal Information</h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    data-modal-toggle="crud-modal-personal_information">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form id="personalInformationForm" class="p-4 md:p-5" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="personalInfo_image" class="flex justify-center align-middle items-center"></div>
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="flex items-center justify-center col-span-2 py-2">
                        <label for="{{ personal_information_form.profile_pic.id_for_label }}"
                            class="flex flex-col items-center justify-center w-full h-28 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50">
                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                <svg class="w-8 h-8 mb-4 text-gray-500 " aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                </svg>
                                <p class="mb-2 text-sm text-gray-500 "><span class="font-semibold">Click to upload
                                        profile pic</span> or drag and drop</p>
                                <p class="text-xs text-gray-500 ">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                            </div>
                            {{ personal_information_form.profile_pic }}
                        </label>
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="{{ personal_information_form.first_name.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">First name</label>
                        {{ personal_information_form.first_name }}
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="{{ personal_information_form.last_name.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Last Name</label>
                        {{ personal_information_form.last_name }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ personal_information_form.status.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Status</label>
                        {{ personal_information_form.status }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ personal_information_form.occupation.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Occupation</label>
                        {{ personal_information_form.occupation }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ personal_information_form.location.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Location</label>
                        {{ personal_information_form.location }}
                    </div>

                    <div class="col-span-2">
                        <label for="{{ personal_information_form.home_address.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Home address</label>
                        {{ personal_information_form.home_address }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ personal_information_form.phone_number.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Phone number</label>
                        {{ personal_information_form.phone_number }}
                    </div>
                </div>
                <button type="submit"
                    class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    Update details
                </button>
            </form>
        </div>
    </div>
</div>

<!-- General Information form  -->
<div id="crud-modal-general_information" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                <h3 class="text-lg font-semibold text-gray-900">Add General Information</h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    data-modal-toggle="crud-modal-general_information">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form id="generalInformationForm" class="p-4 md:p-5">

                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="{{general_information_form.about_me.id_for_label}}"
                            class="block mb-2 text-sm font-medium text-gray-900">About me</label>
                        {{ general_information_form.about_me }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ general_information_form.education.id_for_label}}"
                            class="block mb-2 text-sm font-medium text-gray-900">Education</label>
                        {{ general_information_form.education }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ general_information_form.organization.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Organization</label>
                        {{ general_information_form.organization }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ general_information_form.gender.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Select gender</label>
                        {{ general_information_form.gender }}
                    </div>

                    <div class="col-span-2">
                        <label for="{{ general_information_form.nationality.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Nationality</label>
                        {{ general_information_form.nationality }}
                    </div>
                    <div class="col-span-2">
                        <label for="{{ general_information_form.date_of_birth.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Birthday</label>
                        {{ general_information_form.date_of_birth }}
                    </div>
                </div>
                <button type="submit"
                    class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    Update details
                </button>
            </form>
        </div>
    </div>
</div>

{% endif %}

{% endblock body %}


{% block javascript %}

<script>

    const generalInformationForm = document.getElementById("generalInformationForm")
    const personalInformationForm = document.getElementById("personalInformationForm")

    const urlToAddGeneralInformation = "{% url 'ajax:general_information' %}"
    const urlToAddPersonalInformation = "{% url 'ajax:add_personal_information' %}"

    const urlToGetGeneralInformation = "{% url 'ajax:get_general_information' id %}"
    const urlToGetPersonalInformation = "{% url 'ajax:get_personal_information' id %}"

    const personalInformationMapper = ["occupation", "location", "status", "home_address"] // except full_name and email
    const generalInformationMapper = ["date_of_birth", "education", "gender", "nationality", "organization"] // except about_me

    // function to populate the edit form
    function populateEditForm(data, formId) {
        let keys = Object.keys(data)

        keys.forEach(key => {
            let inputElem = $(`#${formId} input[name=${key}]`)

            // handling simple input tags
            if (inputElem && inputElem.attr('type') != 'file') {
                inputElem.val(data[key])
            }

            let textAreaElem = $(`#${formId} textarea[name=${key}]`)

            // handling textarea tag
            if (textAreaElem) {
                textAreaElem.val(data[key])
            }

            let selectElem = $(`#${formId} select[name=${key}]`)

            // handling select tag
            if (selectElem) {
                selectElem.val(data[key])
            }
        })

    }

    // function to populate data on the profile section
    function populateData(data, mapper, id) {
        let template = ``

        mapper.forEach(key => {
            if (data[key]) {
                template += `
                <span class="text-gray-600 font-semibold">
                    ${data[key] ? key[0].toUpperCase() + key.split("_").join(" ").slice(1) : ""}
                </span>
                <div class="text-gray-500">
                    ${data[key] ? data[key] : ""}
                </div>
                `
            }
        })

        $(`#${id}`).html(template)
    }

    $(document).ready(function () {

        // Initial request to populate personal information section
        createGetRequestPromise(urlToGetPersonalInformation)
            .then(data => {

                if (!data.id && data.is_owner) {
                    $("#per_info_display__message").html(`<h2 class='text-gray-400 font-semibold mt-2'>No personal information found, update personal information section inorder to get more friends !!</h2>`)
                }

                populateData(data, personalInformationMapper, "personal_information__container")

                if (data.full_name) {
                    $("#per_info_display__full_name").text(data.full_name)
                }
                else {
                    $("#per_info_display__full_name").text("")
                }

                if (data.email) {
                    $("#per_info_display__email").text(data.email)
                }
                else {
                    $("#per_info_display__email").text("")
                }

                return data.profile_pic
            })
            .then(imageUrl => {
                if (imageUrl) {
                    $(`#profile_pic`).html(`<img src="${imageUrl}" class="w-44 h-44 rounded-full" />`)
                }
                else {
                    $(`#profile_pic`).html(`
                    <div class="w-44 h-44 flex items-center justify-center rounded-full bg-gray-200 ">
                        <svg class="w-12 h-12 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"></path>
                        </svg>
                    </div>
                    `)
                }
            })
            .catch(err => console.log(err))

        // Populating personal information data in it's edit form 
        if ($("#personalInformationEditBtn")) {
            $("#personalInformationEditBtn").click(() => {
                createGetRequestPromise(urlToGetPersonalInformation)
                    .then(data => {
                        populateEditForm(data, "personalInformationForm")
                        return data.profile_pic
                    })
                    .then(imageUrl => {
                        if (imageUrl) {
                            $(`#personalInformationForm #personalInfo_image`).html(`<img src="${imageUrl}" class="w-28 h-28 rounded-full" />`)
                        }
                    })
                    .catch(err => console.log(err))
            })
        }

        // Helper function to show image inside the personal information edit form
        if ($("#personalInformationForm input[name=profile_pic]")) {
            $("#personalInformationForm input[name=profile_pic]").change(function () {
                let url = URL.createObjectURL($(this)[0].files[0])
                // console.log(url)
                $("#personalInfo_image").html(`<img src="${url}" class="w-28 h-28 rounded-full" />`)
            })
        }

        // Handling submit event of personal information form
        if (personalInformationForm) {
            personalInformationForm.addEventListener("submit", (e) => {
                e.preventDefault()

                let data = new FormData(personalInformationForm)

                $.ajax({
                    url: urlToAddPersonalInformation,
                    type: "POST",
                    contentType: false,
                    processData: false,
                    headers: { 'X-CSRFToken': "{{ csrf_token }}" },
                    dataType: "json",
                    data: data,
                    enctype: "multipart/form-data",
                    success: function (res) {
                        $("#per_info_display__message").html(``)

                        populateData(data, personalInformationMapper, "personal_information__container")

                        let imageUrl = res.profile_pic
                        if (imageUrl) {
                            $(`#profile_pic`).html(`<img src="${imageUrl}" class="w-44 h-44 rounded-full" />`)
                        }
                        else {
                            $(`#profile_pic`).html(`
                            <div class="w-44 h-44 flex items-center justify-center rounded-full bg-gray-200 ">
                                <svg class="w-12 h-12 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"></path>
                                </svg>
                            </div>
                            `)
                        }

                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            })
        }


        // Initial request to get the general information
        createGetRequestPromise(urlToGetGeneralInformation)
            .then(data => {
                if (!data.id && data.is_owner) {
                    $("#gen_info_display__message").html(`<h2 class='text-gray-400 font-semibold mt-2'>No personal information found, update personal information section inorder to get more friends !!</h2>`)
                }

                if (!data.id && !data.is_owner) {
                    $(`#gen_info_display__message`).parent().toggleClass("hidden")
                }

                populateData(data, generalInformationMapper, "general_information__bottom")

                if (data.about_me) {
                    $("#gen_info_display__about_me").text(data.about_me)
                }
                else {
                    $("#gen_info_display__about_me").text("")
                }
            })
            .catch(err => console.log(err))

        // Handling edit button for the general information edit form
        if ($("#generalInformationEditBtn")) {
            $("#generalInformationEditBtn").click(() => {
                createGetRequestPromise(urlToGetGeneralInformation)
                    .then(data => {
                        populateEditForm(data, "generalInformationForm")
                    })
                    .catch(err => console.log(err))
            })
        }

        // Handling submit event of general information edit form
        if (generalInformationForm) {
            generalInformationForm.addEventListener("submit", (e) => {
                e.preventDefault()
                let formData = new FormData(generalInformationForm)

                createPostRequestPromise(urlToAddGeneralInformation, formData)
                    .then(data => {
                        $("#gen_info_display__message").html("")

                        populateData(data, generalInformationMapper, "general_information__bottom")

                        if (data.about_me) {
                            $("#gen_info_display__about_me").text(data.about_me)
                        }
                        else {
                            $("#gen_info_display__about_me").text("")
                        }
                    })
                    .catch(err => console.log(err))
            })
        }
    })


</script>

{% endblock javascript %}