{% extends 'home/home_base_with_sections.html' %}
{% load static %}

{% block title %}
Your posts
{% endblock title %}


{% block middle_section %}

<div>
    <div class="post_form_container hidden">
        <div class="z-40 fixed top-0 bottom-0 left-0 right-0 flex justify-center align-middle items-center">
            <div class="-z-10 absolute top-0 bottom-0 left-0 right-0 bg-black opacity-10">
            </div>
            <form id="post_form"
                class="w-full sm:max-w-md text-gray-500 rounded-md border bg-white border-gray-100 p-2 shadow-md">
                <div class="flex justify-end pb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-x stroke-gray-500 hover:stroke-gray-600 cursor-pointer post_form__closeBtn">
                        <path d="M18 6 6 18" />
                        <path d="m6 6 12 12" />
                    </svg>
                </div>
                <h3 class="text-xl py-2 text-center">Edit post</h3>
                {% csrf_token %}
                <label for="{{ form.title.id_for_label }}">Title</label>
                {{ form.title }}

                <label for="{{ form.content.id_for_label}}">Content</label>
                {{ form.content }}

                <hr>

                <div id="post_form_image"></div>

                <div class="flex items-center justify-center w-full py-2">
                    <label for="{{ form.image.id_for_label }}"
                        class="flex flex-col items-center justify-center w-full h-28 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg class="w-8 h-8 mb-4 text-gray-500 " aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                            </svg>
                            <p class="mb-2 text-sm text-gray-500 "><span class="font-semibold">Click to upload</span> or
                                drag
                                and drop</p>
                            <p class="text-xs text-gray-500 ">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                        </div>
                        {{ form.image }}

                    </label>
                </div>

                {{ form.caption }}

                <button class="text-xl px-4 py-1 rounded-md bg-blue-500 text-white mt-4 hover:bg-blue-600"
                    type="submit">Post</button>

            </form>
        </div>
    </div>
    <div>
        <h2 class="text-2xl text-gray-500 font-semibold">Your posts</h2>
    </div>
    <div id="post_container" class="divide-y divide-gray-200">
    </div>
    <div id="loader" class="hidden">
        <div class="flex justify-center align-middle items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-loader-2 animate-spin stroke-gray-500">
                <path d="M21 12a9 9 0 1 1-6.219-8.56" />
            </svg>
            <span class="ml-2 text-gray-500">loading posts...</span>
        </div>
    </div>
</div>
{% endblock middle_section %}


{% block derived_js_block %}
<script>
    let pageNumber = 1;
    let postsRequestInProgress = false;
    let hasPosts = true
    let selectedPostIdForEdit = -1
    const captionInputId = "#{{ form.caption.id_for_label }}"
    const imageInputId = "#{{ form.image.id_for_label }}"


    function getPostsPagePromise(page) {
        return new Promise((resolve, reject) => {
            $("#loader").toggleClass("hidden");
            $.ajax({
                type: "GET",
                url: `/ajax/posts/${page}/1`,
                contentType: "application/json",
                dataType: "json",
                success: function (posts) {
                    $("#loader").toggleClass("hidden");
                    resolve(posts);
                },
                error: function (err) {
                    $("#loader").toggleClass("hidden");
                    reject(err);
                },
            });
        });
    }

    function appendPosts(posts) {
        let postDisplayTemplate = ``;

        posts.forEach((post) => {
            let d = new Date(post.created_at);
            postDisplayTemplate += `
            <article class="py-6 post" id="${"post_" + post.id}">
                <div class="flex justify-end gap-3 mb-4 relative">
                    <button class="dropdownButton stroke-gray-500 hover:stroke-gray-600 cursor-pointer" type="button"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
                    </button>
                        
                        <!-- Dropdown menu -->
                    <div id="dropdown_${post.id}" class="dropdownButton hidden z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 absolute top-10">
                        <ul class="py-2 text-sm text-gray-700">
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 post_edit_btn">Edit</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 post_delete_btn">Delete</a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="flex items-center justify-between mb-3 text-gray-500">
                    <div>
                        <a class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-1 rounded"
                            href="/blog/tag/laravel/">#Laravel</a>
                        <a class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-1 rounded"
                            href="/blog/tag/laravel/">#PHP</a>
                    </div>
                    <span class="text-sm">Published on ${d.getUTCDate()}-${d.getUTCMonth() + 1}-${d.getUTCFullYear()}</span>
                </div>
                
                <span class="text-gray-400 likesCount">
                    likes ${post.total_likes}
                </span>
                
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                    <a href="/blog/how-to-use-flowbite-ui-components-with-laravel-and-alpine-js/">${post.title
                }</a>
                </h2>
                
                ${post.image_url
                    ? `<img class="w-full h-auto rounded-md" src="${post.image_url}" alt="${post.caption}"/>`
                    : ``
                }
                
                <p class="mb-5 text-gray-500">${post.content.length > 400 ? post.content.slice(0, 400) + "..." : post.content}
                </p>

                <div class="flex items-center justify-between">
                    <a class="flex items-center space-x-2" href="/blog/author/rich/">
                    ${post.owner_profile_pic ? `<img class="rounded-full w-7 h-7"
                    src="${post.owner_profile_pic}"
                    alt="Rich Klein profile picture">` : `<div class="rounded-full w-7 h-7"></div>`}
                        <span class="font-medium text-gray-500">${post.owner_full_name}</span>
                    </a>
                    <span class="flex justify-center align-middle items-center space-x-3">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-heart stroke-blue-500 cursor-pointer hover:stroke-blue-600">
                                <path
                                    d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z" />
                            </svg>
                        </span>
                        <span class="likeButton">
                            <svg id="${"likeBtn_" + post.id
                }" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-thumbs-up stroke-blue-500 cursor-pointer hover:stroke-blue-600 ${post.did_user_like_post ? "fill-blue-200" : ""
                }">
                                <path d="M7 10v12" />
                                <path
                                    d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z" />
                            </svg>
                        </span>
                        <span>
                            <a class="inline-flex items-center font-medium text-blue-600 hover:underline dark:text-blue-500"
                                href="/social/viewPost/${post.id}">
                                Read more
                                <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </span>
                    </span>
                </div>
            </article>
            `;
        });

        $("#post_container").append(postDisplayTemplate);
    }

    function bindDropdownEvent() {
        $(".dropdownButton").unbind()

        function toggleEvent() {
            let postId = $(this).parents(".post").attr("id").split("_")[1]
            $("#dropdown_" + postId).toggleClass("hidden")
        }

        $(".dropdownButton").click(toggleEvent)
    }

    function addFormSubmissionEvent() {
        let formElement = document.getElementById("post_form")
        formElement.addEventListener("submit", function (e) {
            e.preventDefault()
            let data = new FormData(formElement)
            $.ajax({
                url: "/ajax/updatePost/" + selectedPostIdForEdit + "/",
                type: "POST",
                contentType: false,
                processData: false,
                headers: { 'X-CSRFToken': "{{ csrf_token }}" },
                dataType: "json",
                data: data,
                enctype: "multipart/form-data",
                success: function (res) {
                    console.log(res)
                    pageNumber = 1
                    $("#post_container").html("");
                    getPosts()
                },
                error: function (err) {
                    console.log(err)
                }
            })
        })
    }

    function bindEditButtonEvent() {
        $(".post_edit_btn").unbind()
        $(".post_edit_btn").click(function () {
            let postId = $(this).parents(".post").attr("id").split("_")[1]
            selectedPostIdForEdit = postId
            createGetRequestPromise("/ajax/getPost/" + postId)
                .then(data => {
                    $(".post_form_container").toggleClass("hidden")

                    addFormSubmissionEvent()

                    let inputNames = ["title", "content", "image_url", "caption"]

                    inputNames.forEach(name => {
                        $(`.post_form_container form input[name='${name}']`).val(data[name])
                        $(`.post_form_container form textarea[name='${name}']`).val(data[name])

                        if (name == "image_url" && data[name]) {
                            $(captionInputId).removeAttr('disabled')
                            $("#post_form_image").html(`<img src='${data[name]}' class="rounded-md w-[70%] mx-auto mt-1 h-auto" />`)
                        }
                    })
                })
                .catch(err => console.log(err))
        })
    }

    function bindDeleteButtonEvent() {
        $(".post_delete_btn").unbind()
        $(".post_delete_btn").click(function () {
            let postId = $(this).parents(".post").attr("id").split("_")[1]

            createGetRequestPromise("/ajax/deletePost/" + postId)
                .then(data => {
                    console.log(data)

                    $("#post_container").html("")
                    pageNumber = 1;
                    postsRequestInProgress = false

                    // Loading after the post deletion
                    getPosts()
                })
                .catch(err => console.log(err))

        })
    }

    function bindLikeButtonEvent() {
        $(".likeButton").unbind();
        $(".likeButton").click(function () {
            let post = $(this).parents(".post");
            let id = $(post).attr("id");

            $.ajax({
                type: "GET",
                url: `/ajax/like/${id.split("_")[1]}`,
                dataType: "json",
                contentType: "application/json",
                success: function (res) {
                    $(`#${id}`).children(".likesCount").text(`likes ${res.new_like_count}`);
                    $(`#likeBtn_${id.split("_")[1]}`).toggleClass("fill-blue-200");
                },
                error: function (err) {
                    console.log(err);
                },
            });
        });
    }

    function getPosts() {
        if (hasPosts && !postsRequestInProgress) {

            new Promise((resolve, reject) => {
                postsRequestInProgress = true;
                resolve(getPostsPagePromise(pageNumber));
            })
                .then((posts) => {
                    appendPosts(posts);

                    if (posts.length) {
                        pageNumber++;
                    } else {
                        hasPosts = false;
                        $("#post_container").append(
                            "<h3 class='text-2xl text-gray-400 text-center'>No post found !!</h3>"
                        );
                    }

                    postsRequestInProgress = false;
                })
                .then(() => bindLikeButtonEvent())
                .then(() => bindDeleteButtonEvent())
                .then(() => bindDropdownEvent())
                .then(() => bindEditButtonEvent())
        }
    }

    $(document).ready(function () {

        // Initial form state
        $(captionInputId).attr('disabled', true)
        $("#post_form_image").html("")


        // Initial posts load
        getPosts()

        // Event for image input
        $(imageInputId).on('input', function () {
            $(captionInputId).removeAttr('disabled')
            let url = URL.createObjectURL($(this)[0].files[0])
            $("#post_form_image").html(`<img src="${url}" class="rounded-md w-[70%] mx-auto mt-1 h-auto" />`)
        })

        // Event for close button in form
        $(".post_form__closeBtn").click(function () {
            $("#post_form_image").html("")
            $(captionInputId).attr('disabled', true)
            $(".post_form_container").toggleClass("hidden")
        })

        // loads posts whenever the user scroll to the bottom
        $(document).scroll(function (e) {
            let bodyElement = document.querySelector("body");

            if (
                window.scrollY + window.innerHeight >= bodyElement.scrollHeight &&
                hasPosts &&
                !postsRequestInProgress
            ) {
                getPosts()
            }
        });
    });

</script>
{% endblock derived_js_block %}