{% extends 'home/home_base_with_sections.html' %}

{% load static %}

{% block title %}
post
{% endblock title %}


{% block middle_section %}

<div>

    {% if notFound %}
    <div>
        {{ notFound }}
    </div>
    {% endif %}



    {% if post %}


    <article class="py-6 post text-white" id="post_{{post.id}}">
        <div class="flex items-center justify-between mb-3">
            <div></div>
            <span class="text-sm">Published on {{post.created_at | date:"d-m-Y"}}</span>
        </div>

        <span class="likesCount">
            likes {{ post.userlikepost_set.count }}
        </span>

        <h2 class="mb-2 text-2xl font-bold tracking-tight">{{post.title}}</h2>

        {% if post.image %}
        <img class="w-full h-auto rounded-md" src="{{post.image.url}}" alt="${post.caption}" />
        {% endif %}


        <p class="mb-5 text-gray-200">{{post.content}}</p>

        <div class="flex items-center justify-between">
            <a class="flex items-center space-x-2" href="#">
                {% if post.user.personalinformation.profile_pic %}
                <img class="rounded-full w-7 h-7" src="{{post.user.personalinformation.profile_pic.url}}" alt="">
                {% else %}
                <div class="rounded-full w-7 h-7"></div>
                {% endif %}

                <span class="font-medium text-gray-200">
                    {{ full_name }}
                </span>
            </a>
            <span class="flex justify-center align-middle items-center space-x-3">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-bookmark stroke-blue-700 cursor-pointer hover:stroke-blue-600">
                        <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
                    </svg>
                </span>
                <span class="likeButton">

                    {% if did_user_like_post %}
                    <svg id="likeBtn_{{post.id}}" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-thumbs-up stroke-blue-700 cursor-pointer hover:stroke-blue-600 fill-blue-700">
                        <path d="M7 10v12" />
                        <path
                            d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z" />
                    </svg>
                    {% else %}
                    <svg id="likeBtn_{{post.id}}" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-thumbs-up stroke-blue-700 cursor-pointer hover:stroke-blue-600">
                        <path d="M7 10v12" />
                        <path
                            d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z" />
                    </svg>
                    {% endif %}
                </span>
            </span>
        </div>
    </article>
    {% endif %}



</div>

{% endblock middle_section %}

{% block derived_js_block %}

<script>
    function bindLikeButtonEvent() {
        $(".likeButton").unbind();
        $(".likeButton").click(function () {
            let post = $(this).parents(".post");
            let id = $(post).attr("id");

            $.ajax({
                type: "GET",
                url: `/ajax/like/${id.split("_")[1]}`,
                dataType: "json",
                contentType: "application/json",
                success: function (res) {
                    $(`#${id}`).children(".likesCount").text(`likes ${res.new_like_count}`);
                    $(`#likeBtn_${id.split("_")[1]}`).toggleClass("fill-blue-200");
                },
                error: function (err) {
                    console.log(err);
                },
            });
        });
    }

    $(document).ready(function () {
        bindLikeButtonEvent()
    })
</script>

{% endblock derived_js_block%}