{% extends 'base.html' %}


{% block title %}
    signup page 
{% endblock title %}

{% block body %}
<form class="max-w-sm mx-auto border rounded-md shadow-sm p-2 mt-24" action="{% url 'authentication:signup' %}" method="post">
    <h3 class="text-3xl text-gray-500 text-center pt-2 pb-4">Signup to Social</h3>
    {% csrf_token %} 
    {% if error_message %}
      <p>{{error_message}}</p>
    {% endif %}
    <div class="mb-5">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-600">Your email</label>
      <input type="email" id="email" name="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@flowbite.com" required>
    </div>
    <div class="mb-5">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-600">Your password</label>
      <input type="password" id="password" name="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required>
    </div>
    <div class="mb-5">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-600">Cofirm your password</label>
      <input type="password" id="password" name="confirmPassword" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required>
    </div>
    <div class="flex items-start mb-5">
      <label for="terms" class="ms-2 text-sm font-medium text-gray-600">Aready have an account? <a href="{% url 'authentication:login' %}" class="text-blue-600 hover:underline">click here</a></label>
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Signup</button>
  </form>
  
{% endblock body %}
    