{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        Social site 
    {% endblock title %}
    </title>

    {% compress css %}
    <!-- <link rel="stylesheet" href="{% static 'src/output.css' %}"> -->
    {% endcompress %}

    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" /> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script> 
</head>
<body>
    
    {% block navigation %}
        
    {% endblock navigation %}
        
    <div class="px-6 pt-6 sm:px-12 md:px-24 xl:px-48">
        {% block body %}
            
        {% endblock body %}
    </div>
    
    
    {% block footer %}
        
    {% endblock footer %}
        
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% block javascript %}
        
    {% endblock javascript %}
        
</body>
</html>