{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        Social site 
    {% endblock title %}
    </title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>
<body>
    
    {% block navigation %}
        
    {% endblock navigation %}
        
    
    {% block body %}
        
    {% endblock body %}
    
    
    {% block footer %}
        
    {% endblock footer %}
        
</body>
</html>